/* Background styling */
body {
    background-image: url('/images/mujeresbanner.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for the register form */
.register-container {
    background: rgba(255, 255, 255, 0.85); /* Slightly more opaque background */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    max-width: 100%;
}

/* Form header */
h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
}

/* Input fields styling */
.input-container {
    margin: 1rem 0;
    text-align: left;
}

label {
    font-size: 1.1rem;
    color: #333;
}

input {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

/* Password confirmation input */
.password-confirmation-container {
    margin-top: 1rem;
}

select {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

/* Button styling */
button {
    padding: 0.8rem 1.5rem;
    background-color: #4CAF50; /* Green for register button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #45A049;
}

/* Back button styling */
.back-button {
    margin-top: 1.5rem;
}

.back-button a {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.back-button a:hover {
    background-color: #45A049;
}
